body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    padding:10px;
    color: orange;
    background-color: black;
    border: 2px solid orange;
    width:120px;
    height:45px;
    text-align: center;
    transition:200ms;
}
button:hover{
    border:2px solid rgb(194, 248, 85);
    color: rgb(201, 245, 114);
    transform:translateY(-5px);
}
#bton:hover{
    box-shadow: 0 8px 6px -5px rgb(130, 190, 90);
}